<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Model1" connectionString="data source=DESKTOP-CEC7RJD\SQLEXPRESS;initial catalog=Lab2CodeFirstExampleDB;integrated security=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>